@import 'tailwindcss';
@import '@fontsource-variable/noto-sans-jp';
@import '@fontsource-variable/fredoka';

@import 'tw-animate-css';

:root {
	color-scheme: light dark;

	--font-sans: 'Fredoka Variable', 'Noto Sans JP', sans-serif;
	--radius: 4rem;

	--app-background-image: url('../lib/assets/background/light/background.png');
	--app-background: #2990ee;
	--background: #fff4d6;
	--foreground: #7d4e28;

	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.13 0.028 261.692);
	--primary: oklch(0.21 0.034 264.665);
	--primary-foreground: oklch(0.985 0.002 247.839);
	--secondary: oklch(0.967 0.003 264.542);
	--secondary-foreground: oklch(0.21 0.034 264.665);
	--muted: oklch(0.967 0.003 264.542);
	--muted-foreground: oklch(0.551 0.027 264.364);
	--accent: oklch(0.967 0.003 264.542);
	--accent-foreground: oklch(0.21 0.034 264.665);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.928 0.006 264.531);
	--input: oklch(0.928 0.006 264.531);
	--ring: oklch(0.707 0.022 261.325);
}

@media (prefers-color-scheme: dark) {
	:root {
		--app-background-image: url('../lib/assets/background/dark/background.png');
		--app-background: #01103c;
		--background: #172540;
		--foreground: #d4dced;

		--popover: oklch(0.21 0.034 264.665);
		--popover-foreground: oklch(0.985 0.002 247.839);
		--primary: oklch(0.928 0.006 264.531 / 0.5);
		--primary-foreground: oklch(0.21 0.034 264.665);
		--secondary: oklch(0.278 0.034 257.672 / 0.3);
		--secondary-foreground: oklch(0.985 0.002 247.839);
		--muted: oklch(0.278 0.033 256.848);
		--muted-foreground: oklch(0.707 0.022 261.325);
		--accent: oklch(0.278 0.033 256.848);
		--accent-foreground: oklch(0.985 0.002 247.839);
		--destructive: oklch(0.704 0.191 22.216);
		--border: oklch(1 0 0 / 10%);
		--input: oklch(1 0 0 / 15%);
		--ring: oklch(0.551 0.027 264.364);
	}
}

@theme {
	--breakpoint-sm: 500px;
}

@theme inline {
	--font-sans: var(--font-sans);
	--radius-sm: calc(var(--radius) - 50px);
	--radius-md: calc(var(--radius) - 40px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 40px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
}

@layer base {
	html {
		background-color: var(--app-background);
	}

	main {
		padding: calc(1.25rem + env(safe-area-inset-top, 0px))
			calc(1.25rem + env(safe-area-inset-right, 0px))
			calc(1.25rem + env(safe-area-inset-bottom, 0px))
			calc(1.25rem + env(safe-area-inset-left, 0px));
	}

	body {
		@apply font-sans text-foreground;
		isolation: isolate;
	}

	body::before {
		content: '';
		position: fixed;
		inset: 0;
		z-index: -1;
		background-color: var(--app-background);
		background-image: var(--app-background-image);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

@utility paper-effect {
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: 1;

		background: light-dark(#6f5b45, #b8c9df);
		filter: url('#paper-noise');

		opacity: 0.15;
		mix-blend-mode: multiply;

		pointer-events: none;

		@media (prefers-color-scheme: dark) {
			opacity: 0.12;
			mix-blend-mode: soft-light;
		}
	}
}
